.modal__footer-container {
    display: flex;
}

.modal__image {
    width: 100%;
}

.modal__caption {
    margin: 20px 0 12px 32px;
}

.modal__weather {
    margin: 0 0 0 32px;
    font-weight: bold;
    font-size: 24px;
}

.modal__content_type_image {
    padding: 0 0 36px;
}

.modal__delete-item {
    cursor: pointer;
    border: none;
    align-self: self-start;
    display: block;
    margin: 20px 32px 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 1.25rem;
    color: #FF4D00;
    background-color: initial;
}

.modal__delete-item_hidden {
    display: none;
}