.modal__form.login__form input[type=email],
.modal__form.login__form input[type=password] {
    border: none;
    width: 100%;
    border-bottom: 1px solid #000;
    outline: none;
}

.modal__form.login__form input[type=email] {
    margin: 8px 0 24px;
}

.modal__form.login__form input[type=password] {
    margin-top: 8px;
}

.secondary__option {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #00000050;
    align-self: center;
}